<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../node_modules/bootstrap-honoka/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body class="bg-light">
  <div class="container">
    <div class="row bg-white" id="app">
      <div class="col-3">
        <ul class="list-unstyled border-right border-left">
          <li v-for="(actress, i) in searchResult" class="border-bottom">
            <label :for="'actress' + i" class="my-2">
              <input type="checkbox" :id="'actress' + i" v-model="actresses[i].checked"
                class="ml-3 mr-1">{{actress.name}}
            </label>
          </li>
        </ul>
        {{extractNames}}
      </div>
      <section class="col-3">
        <input type="search" class="form-control" v-model.trim="keyword">
      </section>
    </div>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap-honoka/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.12/dist/vue.global.js"></script>
<script type="module" src="./script.js"></script>

</html>